* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
wrapper {
    display: flex;
    flex-direction: column;
}
header {
    height: 624px;
    display: flex;
    background: rgb(75, 198, 255);
}
main {
    height: 156px;
    width: 100%;
    background: blue;
    display: flex;
    justify-content: center;
}
main img{
    height: 156px;
}
footer {
    height: 156px;
    width: 100%;
    background: wheat;
}
.header__left {
    flex: 1;
    background:black;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__right {
    flex: 3;
}