.table {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 55%;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 20px;
}
wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background: rgb(108, 242, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: rgb(108, 242, 63);
  font-size: 24px;
  border: 0;
  color: white;
  font-weight: 900;
}